@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500&display=swap');
:root {
  --primary-color: #3993ff;
  --primary-back-color: #EDF4FF;
  --primary-shadow-color:#EBF3FF;
  --primary-box-drop-shadow: -10px -10px 20px #FFFFFF, 10px 10px 20px #B4C1D5;
  --primary-box-inset-shadow: inset -10px -10px 20px #FFFFFF, inset 10px 10px 20px #B4C1D5;
  --primary-color-dark : #284B63;
  --text-color:#fff;
  --padding-m : 1.25rem;
  --avatar-height:75px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
* {
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  padding: 0.5rem;
  background: var(--primary-back-color);
  position: relative;
}
.container__head {
  padding:1rem;
  position: absolute;
}
h1.head__title{
  padding-left: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.container__center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:100%;
}

.btn {
  padding: var(--padding-m);
  color:var(--text-color);
  border:0;
  font-size:1.1rem;
  cursor: pointer;
  background: var(--primary-color-dark);
  box-shadow: var(--primary-box-drop-shadow);
  border-radius: 100px;
  text-transform: uppercase;
  font-weight:300;
  letter-spacing: 0.1rem;
  }
  
.btn:hover {
  color:var(--primary-color-dark);
  background: var(--primary-shadow-color);
  box-shadow: var(--primary-box-drop-shadow);
}
