@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500&display=swap');
:root {
  --primary-color: #3993ff;
  --primary-back-color: #fcfcfc;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
* {
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  padding: 0.5rem;
  background: var(--primary-back-color);
}
.container__head {
  height:20%;
  padding:1rem;
}
h1.head__title{
  padding-left: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}
.container__brand {
  display: grid;
  height: 80%;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding:1rem;
}

.container__brand div {
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1.brand__title{
  font-size:3.5rem;
  text-align: center;
  font-weight:600;
}
h6.brand__tagline {
  font-size:1.5rem;
}
.btn {
  padding: 1rem;
  min-width: 250px;
  background-color: var(--primary-color);
  color:#FFF;
  border:0;
  border-radius:8px;
  font-size:1.1rem;
  cursor: pointer;
}

.placeholder-img{
  width:75%;
  height:80%;
}