.sprint_container{
   display: grid;
   grid-template-columns: 0.15fr 4fr 1.5fr;
   height:90%;
   justify-items: center;
  /* // align-items:center; */
   margin: 25px 30px;
}

.poker__table{
   background: var(--primary-shadow-color);
   box-shadow: var(--primary-box-drop-shadow);
   border-radius: 389px;
   height: 20rem;
   width: 50rem;
   position: relative;
}

.poker__table_inner{
   position: absolute;
   left: 50%;
   right: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   background: var(--primary-shadow-color);
   box-shadow: var(--primary-box-inset-shadow);
   border-radius: 389px;
   height: 80%;
   width: 90%
}

.poker_card{
   box-shadow: var(--primary-box-drop-shadow);
   border-radius: 10px;
   height: 3.75rem;
   width: 2.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.2rem;
   color: white;
   letter-spacing:0.1rem;
   margin-bottom: 10px;
 }

.team_member_name{
   font-size: 0.8rem;
   text-transform: uppercase;
   text-align: center;
   font-weight: bold;
   display: block;
   letter-spacing: 2px;
}
.story_points_container{
   position: fixed;
   bottom:15px;
   margin-top: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.story_points{
   display: flex;
   justify-content: space-between;
   
}
 
.story_point{
   background: var(--primary-shadow-color);
   box-shadow: var(--primary-box-drop-shadow);
   border-radius: 15px;
   height:80px;
   width: 80px;
   margin:1.5rem 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   cursor: pointer;
}

.story_cards{
   background: #EDF4FF;
   box-shadow: -2px -2px 4px rgb(255, 255, 255);
   border-radius: 25px;
   display: flex;
   flex-direction: column;
   align-content: space-between;
   justify-content: space-between;
   max-height:250px;
   overflow-y: scroll;
   width:100%;
   padding:20px;
   font-size: 0.85rem;
   margin:20px auto;
   width: 98%;
}