.content{
   width: 500px;
 }

.content__title{
   font-size:1.8rem;
   font-weight: normal;
   text-align: center;
   letter-spacing: 1px;
}

.content__input_block {
   position: relative;
   margin-top: 2rem;
 }
 
 .content__input_block input {
   background: var(--primary-back-color);
   box-shadow: var( --primary-box-inset-shadow);
   border-radius: 100px;
   padding: var(--padding-m);
   border: 2px solid var(--primary-back-color);
   outline:none;
   width: 100%;
   font-size:1rem;
   color: var(--primary-color-dark);
   padding-left:2.3rem;
   text-transform: uppercase;
   letter-spacing: 0.1rem;
 }

 .content__input_block input::placeholder{
  opacity: 0.7;
}